main{
    display: inline-block;
    position: fixed;
    max-width: 90%;
    max-height: 80%;
    overflow-x: scroll;
    overflow-y: scroll;
    border: solid silver 10px;
}
.board{
    border: solid black 6px;
    display: inline-block;
    white-space: nowrap;
    line-height: 0.7;
}
.cell{
    border: solid black 3px;
    background: silver;
    width: 10px;
    height: 10px;
    color: silver;
    display: inline-block;
}

.clearThis{
}

.left{
    border-left: silver 3px solid;
}

.right{
    border-right: silver 3px solid;
}

.top{
    border-top: silver 3px solid;
}

.bottom{
    border-bottom: silver 3px solid;
}

/* .visited{
    background: red;
} */

.viableNeighbour{
    background: violet;
}